{% extends 'posts/post_base.html' %}


{% block title %} {{ user.username }} {{ block.super }}{% endblock %}
{% block post_header %}<h1 class="no-border-header">Профиль пользователя</h1>{% endblock %}
{% block user_label %}<span class="label label-default label-user">{{ user.username }}</span>{% endblock %}


{% block post_content %}

<h3>{{ user.username }}
{#        <span class="sm-link pull-right">#}
{#            <a href="{% url 'profile_update' %}"><i class="fa fa-pencil"></i> редактировать профиль</a>#}
{#        </span>#}
</h3>
<table class="table table-hover">
    <thead></thead>
    <tbody>

        {% if user.author.first_name or user.author.first_name %}
            <tr>
                <td>ФИО: </td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>На сайте saunaflame с: </td>
            <td>{{ user.date_joined | date:'d E Y' }} г. </td>
        </tr>
        <tr>
            <td>Заходил на сайт: </td>
            <td>{{ user.last_login | date:'d E Y' }} г. в {{ user.last_login | time:'H:i'}}</td>
        </tr>
        <tr>
            <td>Обсуждений: </td>
            <td>{{ posts.all|length }}</td>
        </tr>
        <tr>
            <td>Комментариев: </td>
            <td>{{ user.comment_set.all|length }}</td>
        </tr>
        {% if user.author.town %}
            <tr>
                <td>Город: </td>
                <td>{{ user.author.town }}</td>
            </tr>
        {% endif %}
        {% if user.author.age %}
            <tr>
                <td>Возраст: </td>
                <td>{{ user.author.age }}</td>
            </tr>
        {% endif %}
        {% if user.author.organization %}
            <tr>
                <td>Организация: </td>
                <td>{{ user.author.organization }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>

    <h4 class="h4-posts">Последние обсуждения</h4>
    {% if posts|length != 0 %}
        <ul class="ul-posts">
            {% for post in posts|slice:'3' %}
                <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У <strong>{{ user.username }}</strong> еще нет обсуждений</p>
    {% endif %}

    <h4 class="h4-posts">Последние комментарии</h4>
    <div class="col-md-8">
        {% for comment in user.comment_set.all|slice:'3' %}
            <div class="comment">
                <div class="content">{{ comment.content }}</div>
                <p class="link-to-post">в обсуждении <a href="{% url 'post_detail' comment.post.slug %}">{{ comment.post.title }}</a></p>
            </div>
        {% empty %}
            <p><strong>{{ user.username }}</strong> еще не оставлял комментарии</p>
        {% endfor %}
    </div>

{% endblock %}
